/* Start About Us */
section{
  position: relative;
}
.aboutUsHeadingMainContent{
  display: flex;
  width: 100%;
  padding: 50px;
}

.aboutUsHeadingContent h2{
  text-align: center;
  font-size: 3vw;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 0 0 0;
  padding: 10px 60px 0 0 ;
  background: linear-gradient(90deg, #dd99fdaf, #f800d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutUsHeadingContent h3{
  text-align: center;
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(90deg, #dd99fda9, #f800d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUsHeadingMainContentTxt{
  text-align: left;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 20px 0;
  width: 100%;
}
.aboutUsHeadingMainContentTxt h4{
  font-size: 2.5vw;
  margin-left: 50px;
  font-family:'Playfair Display', serif;
}
.aboutUsHeadingMainContentTxt p{
  font-size: 1.8vw;
  font-family:'Playfair Display', serif;
  text-indent: 90px;
  
}
.aboutUsHeadingMainContentPic{
  padding-right: 10px;
  width: 100%;
}
.aboutUsHeadingMainContentPic img{
  height: 100%;
  width: 100%;
  padding-right: 20px;
  object-fit: cover;
}
/* End About Us */