/* Start About Us */
*{
  font-family: Arial, Helvetica, sans-serif;
}
section{
  position: relative;
}
.aboutUsHeadingMainContent{
  display: flex;
  width: 100%;
  padding: 50px;
}

.aboutUsHeadingContent h2{
  text-align: center;
  font-size: 3vw;
  padding: 10px 60px 0 0 ;
  background: linear-gradient(360deg, #44d709a9 1%, #06da03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutUsHeadingContent h3{
  text-align: center;
  font-size: 1.5vw;
  background: linear-gradient(360deg, #44d709a9 1%, #06da03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUsHeadingMainContentTxt{
  text-align: left;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 20px 0;
  width: 100%;
}
.aboutUsHeadingMainContentTxt h4{
  font-size: 2vw;
  margin-bottom: 10px;
}
.aboutUsHeadingMainContentTxt p{
  font-size: 1.3vw;
  margin-bottom: 20px;
}
.aboutUsHeadingMainContentPic{
  padding-right: 10px;
  width: 100%;
}
.aboutUsHeadingMainContentPic img{
  height: 100%;
  width: 100%;
  padding-right: 20px;
  object-fit: cover;
}
/* End About Us */