.onPage{
    border-bottom: 2px solid var(--headingUnderline) ; 
    color: var(--headingOnPage);
}
section{
    position: relative;
    height: 95vh;
}
body{
  background: rgba(96, 247, 134, 0.63);
}
.mainText h3{
  font-size: 1vw;
}

.mainText p{
  font-size: 1vw;
}