.onPage{
    border-bottom: 2px solid var(--headingUnderline) ; 
    color: var(--headingOnPage);
}
section{
    position: relative;
    height: 95vh;
}
.pageHeading{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
 }
 .pageHeading img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .pageHeadingText{
    background: linear-gradient(90deg, #00e4d1, #61ee2a);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 6vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--mainFont);
  }