*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .7s linear;
  }
  /* Set variable */
:root{
  --headingColor: #72f563;
  --headingSpan:rgb(45, 170, 41);
  --headingUnderline: rgb(0, 0, 0);
  --headingOnPage: rgb(0, 0, 0);
  --mainFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --footerColor: linear-gradient(to right, #54ce62, #08ff98);
  --acountBorderColor:rgba(66, 66, 66, 0.658);
}

  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background-color: rgb(218, 255, 213);
}
/* Header */
  header{
    position: sticky;
    top: 0;left: 0;right: 0;
    background: var(--headingColor);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% ;
  }

  .logo{
    color: white;
    font-size: 25px;
    cursor: pointer;
    
  }

  .logo span{
    color: var(--headingSpan);
  }

  header ul{
    list-style: none;
    display: flex;
    padding-left: -10px;
    transition: 0.5s;
  }
  header ul li{
    padding: 24px 30px 10px ;
    position: relative;
  }
  
  header .aboutUs{
    border-bottom: 2px solid var(--headingUnderline) ; 
    color: var(--headingOnPage)
  }
  header ul li a{
    color:white;
    font-size: 20px;
  }
  header ul li a:hover{
    color:#000000
  }
  header .dropdown{
    display: none;
  }
  header ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color:var(--headingColor);
  }
  .dropdown ul{
    display: block;
    margin: 10px;
    background: var(--headingColor);
  }
  header .dropdown ul li{
    width: 100%;
    padding: 5px;
    background: var(--headingColor);
  }
  header .dropdown ul li a{
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  header .dropdown ul li a:hover{
    cursor: pointer;
    color: #060606;
  }
  /* User icon */
  .usernav{
    padding: 19px 80px 15px 30px;
  }

  .usernav img{
    cursor: pointer;
  }
  .usernav .highlight{
    text-decoration: underline;
    font-weight: 600;
  }
  .userwrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }
  .userwrap.open-menu {
    max-height: 400px;
  }

  .usersubmenu{
    background: #fff;
    padding: 20px;
    margin: 10px
  }

  .userinfor{
    display: flex;
    align-items: center;
  }
  .userinfor h2{
    font-weight: 10;
    font-size: 20px;
  }
  .userinfor img{
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .usersubmenu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
  }

  .submenulink{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }

  .submenulink p{
    width: 60%;
    font-size: 15px;
    transition: transform 0.5s;
  }

  .submenulink img{
    width: 50px;
    height: 50px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }

  .submenulink span{
    font-size: 20px;
    transition: transform 0.5s;
  }

  .submenulink:hover span{
    transform: translateX(5px);
  }

  .submenulink:hover p{
    font-weight: 600;
  }

  /* Search bar */
  .searchbar{
    position: fixed;
    top:21px;
    right: 8%;
    transform: translate(40%,-5%);
    background-color: #ffffff;
    height: 30px;
    border-radius: 40px;
    padding: 5px;
  }
.searchbar:hover > .searchTxt{
  width: 100px;
  padding: 0 6px;
}
.searchbar:hover > .searchButton{
  background: rgba(194, 235, 213, 0.425);
}
  .searchButton{
    color: #000000;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchTxt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    text-align: left;
    justify-content: center;
  }
/*End search bar*/
/*Start Highlight Account Setting*/
  header .usernav .account{
    font-weight: bolder;
    text-decoration: underline;
  }
/*End Highlight Account Setting*/

/*Start Account Setting*/
section {
  z-index: 190;
  background: rgba(183, 253, 207, 0.726);
  position: relative;
  display: flex;
  margin: 20px;
  border-radius: 10px;
}
  /* Start Side bar*/
section .sidebarContent{
  display: block;
  width: 30%;
  border-right: 1px solid var(--acountBorderColor);
  text-align: center;
  padding: 10px;
}
section .userImage{
  border-bottom: 1px solid var(--acountBorderColor);
  
}
section .userImage img{
  height: 20vh;
  padding-bottom: 10px;
}
section .userImage h1{
  font-size: 2vw;
}
.userInformation{
  font-size: 1vw;
}
.userInformation h2{
 padding-top: 10px;
 font-size: 4vh;
 margin: 10px 0 20px 0;
 cursor: pointer;
 color: #000000;
}
.userInformation h2:hover{
  text-decoration: underline;
}
  /* End Side bar*/
  /* Start Main Content*/
  .mainContentProfile{
    width: 70%;
    padding: 10px;
  }
  .mainContentProfileHeading{
    text-align: left;
    font-size: 2vh;
    margin: 0 10px;
    border-bottom: 1px solid rgb(114, 111, 111);
    padding-bottom: 1px;
  }

/*End Account Setting*/